<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <h3>Royal University Collective,</h3>
    <p>
      Something about us and how the fact is that
      we should drop the University
      tag stuff cus its gay and the
      Royal Collective sounds alot better.
     </p>
     <p2>
       Started up by a humble university student.
       The Collective aim of our community is to educate and advise on risk implications,
       while concurrently designing and implementing trading mechanisms.
     </p2>
     <a href="/">Home</a>
     <a href="/scrape">Scrape</a>
  </body>
</html>
