<!DOCTYPE html>
<html lang="en" dir="ltr" id="htmlT">
  <head>
    <title>
      Fuel Scrapper
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/idontknow/NIGHTMODE_tabel_page.css" type="text/css">
  </head>
  <body>
    <h1>Fuel Slicer</h1>
      <a href="/" class="Standard_button">Home</a>
      <a href="/about" class="Standard_button">About</a>
      <a href="" class="Standard_button">Refresh</a>
      <a href="#" class="Standard_button" id="Night_btn">Night Mode</a>
      <p> KEY: Blue = Tomorrow, Green = Today. </p>
        <div class='search'>
          <input type='text' id="filter_text" placeholder= 'Type location to filter'>
          <a class='Standard_button' id="filter" href ='#'>Filter</a>
        </div>
    <form id="product_form" action="/table" method="GET">
      <select id="user_chosen" name="product">
        {% for choice, item in Fuel_types.items %}
            <option value="{{choice}}" {% if choice == query %}selected{% else %}{% endif %}>{{item}}</option>
        {% endfor %}
      </select>
      <button id="fuel_type"type="submit">Search</button>
    </form>
    <table id="whole_table">
      <thead>
        <tr>
          <th colspan = '6'>Fuel Scrapped</th>
        </tr>
        <tr>
          <td><b> Store Name  </b></td>
          <td><b> Price       </b></td>
          <td><b> Address     </b></td>
          <td><b> Location    </b></td>
          <td><b> Date        </b></td>
        </tr>
      </thead>
      <tbody>
      {% for entry in something_regarding_fuel %}
        {% if entry.Day == 'Tomorrow' %}
        <tr style="background-color: #228EB9 40%">
        {% elif entry.Day != 'Tomorrow' %}
         <tr style="background: #aaa">
           {% endif %}
          <td>
            {{entry.Store_Name}}
          </td>
          <td>
            {{entry.Price_of_Fuel}}
          </td>
          <td>
            {{entry.Address}}
          </td>
          <td class="Loc">
            {{entry.Location}}
          </td>
          <td>
            {{entry.Date}}
          </td>
        </tr>
      {% endfor %}
      </tbody>

    <script type="text/javascript">

    var formsub = document.getElementById('product_form');
    var selection_list = document.getElementById('user_chosen');
    function submit(){
    formsub.submit();
    }
    selection_list.onchange = submit;

    </script>
    <script type="text/javascript">
      var filterbtn = document.getElementById('filter');
      var table_B = document.getElementsByTagName('tbody');
      var not_location = document.getElementsByClassName('Loc');
      var typed_text = document.getElementById('filter_text')

      function filter(E){
        console.log(E.target.value);
        console.log(not_location.innerText);
        console.log('filtering');
        for (var i=0; i < not_location.length; i++) {
          if (E.target.value == not_location[i].innerText) {
            console.log(E.target.value);

          }
          // console.log(not_location[i].innerText);


        }

      }

      typed_text.oninput = filter;

    </script>







  </body>
</html>
